<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Mathieu Acthernoene | front-end and mobile developer</title>
    <%= htmlWebpackPlugin.options.faviconHtml %>
  </head>
  <body>
    <div id="root"><%= htmlWebpackPlugin.options.contentHtml %></div>

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-134455830-1"
    ></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-134455830-1");
    </script>
  </body>
</html>
